*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purple-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-red: hsl(354, 84%, 57%);

  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-family: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--neutral-magnolia);
  height: 100%;
}

h1,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  position: relative;
  width: 100vw;
}

.header img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}

.custom-radio-wrapper {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.rad-text {
  display: none;
}

.rad-label {
  display: flex;
  align-items: center;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.rad-text p:first-child {
  color: var(--primary-pastel-blue);
  letter-spacing: normal;
}

.rad-text p:last-child {
  color: var(--neutral-alabaster);
  margin-top: 3px;
  font-weight: 500;
}

.rad-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}

.rad-design {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  color: white;
  background: transparent;
  border: 1px solid white;
  transition: 0.3s;
  position: relative;
  font-size: 15px;
}

.rad-input:checked + .rad-design {
  color: black;
  background: var(--primary-light-blue);
  border: 0;
}

.rad-text {
  color: hsl(0, 0%, 60%);
  margin-left: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.3s;
}

.rad-design span {
  position: absolute;
  left: 13px;
  top: 7px;
  color: inherit;
}

.form {
  background-color: var(--neutral-white);
  position: relative;
  top: -7.5rem;
  margin: 0 1.5rem;
  padding: 2.5rem;
  border-radius: 10px;
}

.form h1 {
  color: var(--primary-marine-blue);
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
}

.form .description {
  color: hsl(228, 100%, 64%);
  line-height: 1.3;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 1.5rem 0 2.5rem 0;
}

.input-container .inputs label {
  /* display: block; */
  color: var(--primary-marine-blue);
  font-size: 1rem;
}

.error-msg {
  color: var(--primary-red);
  float: right;
  font-weight: 500;
}

.input-container .inputs input {
  width: 100%;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  outline: 0;
  border: 1px solid var(--neutral-light-gray);
  margin: 0.5rem 0 1.5rem 0;
  color: #24365a;
  font-weight: 500;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s;
}

.input-container .inputs input:focus {
  border-color: var(--neutral-cool-gray);
}

.input-container .inputs input::placeholder {
  font-weight: 500;
  color: var(--primary-pastel-blue);
}

/* 2nd */
.plan-label {
  display: flex;
  width: 100%;
  border: 1px solid var(--neutral-light-gray);
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.plan-types input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .plan-label {
  background-color: hsl(228, 100%, 97%);
  border-color: var(--primary-purple-blue);
  color: black;
}

.plan-label:hover {
  border-color: var(--primary-purple-blue);
}

.plan-name {
  font-weight: 500;
  font-size: 1.5rem;
}

.plan-price {
  margin: 0.5rem 0;
  color: hsl(228, 100%, 64%);
  font-weight: 400;
  font-size: 1.5rem;
}

.plan-promo {
  font-size: 1rem;
  color: var(--primary-marine-blue);
}

.toggleWrapper {
  background: var(--neutral-alabaster);
  overflow: hidden;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin-top: 2.5rem;
}

.toggleWrapper input {
  display: none;
}

.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: var(--primary-marine-blue);
  border-radius: 84px;
  transition: background-color 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle:before {
  content: "Monthly";
  position: absolute;
  left: -70px;
  top: 0;
  font-size: 1.4rem;
  color: var(--primary-marine-blue);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle:after {
  content: "Yearly";
  position: absolute;
  right: -60px;
  top: 0;
  font-size: 1.4rem;
  color: var(--primary-pastel-blue);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.toggle__handler {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background-color: var(--neutral-white);
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}

input:checked + .toggle:before {
  color: var(--primary-pastel-blue);
}
input:checked + .toggle:after {
  color: var(--primary-marine-blue);
}
input:checked + .toggle .toggle__handler {
  transform: translate3d(20px, 0, 0) rotate(0);
}

/* 3rd */
.addOn {
  border: 1px solid var(--neutral-light-gray);
  display: block;
  display: flex;
  gap: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s;
}

.addOn:hover {
  border-color: var(--primary-purple-blue);
}

.addOn.checked {
  border-color: var(--primary-purple-blue);
  background-color: hsl(228, 100%, 97%);
}

.addOn span {
  height: 20px;
  width: 20px;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 5px;
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}

[type="checkbox"]:checked + span {
  background: var(--primary-purple-blue);
  border: 1px solid #3a49f4;
}

[type="checkbox"] + span:before {
  content: "\2714";
  font-size: 1.6rem;
  position: absolute;
  top: -2px;
  left: 1px;
  color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-position: -20px 0;
  transition: 0.3s;
}

/* Style its checked state...with a ticked icon */
[type="checkbox"]:checked + span:before {
  background-position: 0 0;
}

.addOn-descri {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.addOn-desc > p:first-child {
  font-weight: 700;
  color: var(--primary-marine-blue);
  font-size: 1.3rem;
}

.addOn-desc > p:last-child {
  margin-top: 0.3rem;
  color: hsl(228, 100%, 64%);
  font-size: 1.2rem;
}

.addOn-price {
  color: var(--primary-purple-blue);
  font-size: 1.3rem;
}

/* 4th */
.summary {
  font-size: 1.5rem;
  background-color: var(--neutral-alabaster);
  padding: 1.7rem 1.5rem 1.5rem 1.5rem;
  color: hsl(243, 80%, 82%);
  border-radius: 10px;
}

.space-around-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.space-around-flex button {
  margin: 0.3rem 0 1rem 0;
  text-decoration: underline;
  border: 0;
  outline: 0;
  background-color: transparent;
  padding: 0;
  color: inherit;
}

.plan-selected-name {
  color: hsl(213, 97%, 25%);
  font-weight: 700;
}

.plan-amt {
  font-weight: 700;
  color: hsl(213, 97%, 25%);
}

.addon-sel-price {
  margin-top: 1.5rem;
  color: hsl(213, 45%, 37%);
  font-weight: 500;
}

.space-around-flex.padded {
  padding: 1.5rem;
  font-size: 1.5rem;
  color: hsl(243, 80%, 82%);
}

.tot-amt {
  color: var(--primary-purple-blue);
  font-size: 1.7rem;
  font-weight: 700;
}

/* 5th */
.center {
  text-align: center;
  margin: 5rem 0;
}

.center h1 {
  margin: 2.5rem 0 1.5rem 0;
}

.center img {
  width: 5.5rem;
}

.center p {
  font-size: 1.65rem;
  line-height: 1.4;
  color: hsl(243, 80%, 82%);
}

.button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--neutral-white);
}

button {
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.button .next,.button .prev{
  transition: all 0.3s;
}

.button .next {
  float: right;
  color: var(--neutral-light-gray);
  background-color: var(--primary-marine-blue);
}

.button .next:hover {
  background-color: hsl(213, 96%, 28%);
  color: var(--neutral-white);
}

.button .prev {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: hsl(243, 100%, 82%);
}

.button .prev:hover {
  color: hsl(213, 96%, 8%);
}

label input[type="checkbox"] {
  display: none; /* Hide the default checkbox */
}

.form,
.button div {
  max-width: 500px;
  margin: 0 auto;
  width: 95%;
}

.hidden {
  display: none;
}

.default-cursor {
  cursor: default;
}

@media screen and (min-width: 768px) {
  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: center;
  }

  .plan-types br {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 30% 1fr;
    overflow: hidden;
    padding: 1.7rem 2rem;
    background: white;
    width: 100%;
    max-width: 90rem;
    gap: 7.5rem;
    margin: 0 auto;
    border-radius: 10px;
  }

  .header {
    width: fit-content;
  }

  .header img {
    height: 100%;
  }

  .custom-radio-wrapper {
    top: 4rem;
    gap: 3rem;
    left: 20%;
    transform: translateX(-10%);
    flex-direction: column;
    align-items: baseline;
  }

  .rad-text {
    display: block;
  }

  .content {
    position: relative;
  }

  .form {
    position: static;
    margin: 0;
    padding-right: 7.5rem;
    max-width: 60rem;
    min-width: 50rem;
    width: 100%;
  }

  .form h1 {
    font-size: 3rem;
  }

  .form .description {
    margin-bottom: 4rem;
  }

  /* .input-container .inputs input{
    padding: 1.7rem;
  } */

  /* 2 */
  .plan-types {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .plan-label {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: column;
    height: 15rem;
    min-width: 10rem;
    max-width: 12.5rem;
    flex:1;
    width: auto;
  }

  .addOn {
    padding: 2rem 2.5rem;
  }

  .form.fullHeight {
    height: 100%;
  }

  .center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .button {
    position: absolute;
    padding: 1.5rem 7.5rem 1.5rem 2.5rem;
  }

  .button div {
    width: 100%;
    max-width: none;
  }

  .button .prev {
    padding-left: 0;
  }
}
